# dependencies
node_modules

# logs
npm-debug.log
firebase-debug.log

#locks
yarn.lock

# Nuxt build
.nuxt

# Nuxt generate
dist

# dont show the firebase file
firebase.js
serviceAccountKey.json
functions/.runtimeconfig.json

# hide the compiled service worker
sw.*

# Personal file
todo.md
cypress/integration/example_spec.js
cypress/screenshots/
