# dependencies
node_modules

# logs
npm-debug.log
firebase-debug.log

#locks
yarn.lock

# Nuxt build
.nuxt

# Nuxt generate
dist

# dont show the firebase file
firebase.js

# hide the compiled service worker
sw.*
