.empty
  display flex
  width 100%
  min-height 300px
  justify-content center
  align-items center
  text-align center
  background rgba(0,0,0,0.03)
  border-radius: 12px
  padding: 20px

  .empty-title
    font-weight 600
    color lighten($gray, 20%)
