$input-height = 54px

.input
  width 100%
  padding 0 ($input-height/2)
  margin: 10px 0
  height $input-height
  line-height $input-height
  border-radius 30px
  &:focus
    width 100%
  &.primary
    &.-hollow
      color $primary-color
      border-color $primary-color
      &::placeholder
        color $primary-color
  &.-hollow
    background transparent
    border-width 2px
    border-style solid

$form-space = 25px
.form-title
  background: rgb(10, 43, 78)
  margin: 0
  color: #fff
  padding: $form-space

.v--modal 
  form
    background-color: #0a2b4e
    color: #fff

  .form-actions,
  .form-group
    width: 100%
    padding: 0 $form-space

  .form-checkbox
    padding: $form-space

  .form-footer
    width: 100%
    margin-top: 40px
    background-color: #fff
    color: $primary-color
    display: flex
    justify-content: space-between
    padding: 0 $form-space

  .button + button
    margin-left: $form-space
