$input-height = 54px
$input-height-small = ($input-height - 10px)

.input
  width 100%
  padding 0 ($input-height/2)
  margin: 5px 0
  height $input-height
  line-height $input-height
  border-style solid
  border-width $border-size
  border-color lighten($gray, 60%)
  border-radius $form-radius

  &:focus
    width 100%
    outline none

  &.primary

    &.-hollow
      color $primary-color
      border-color $primary-color

      &::placeholder
        color $primary-color

  &.-hollow
    background transparent
    border-width $border-size
    border-style solid

  for name, state in $states
    &.-is-{name}
      color state
      border-color state
      &::placeholder
        color state

.checkbox
  display: flex;
  justify-content: flex-start
  align-items center
  width max-content
  font-size $font-size-base * 0.875
  .mark
  input[type="checkbox"]
    margin-top: -2px
    margin-right 10px

.checkmark
  display block
  position relative
  padding-left 22px
  margin-bottom 22px
  font-size 22px
  cursor pointer
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  .check
    position absolute
    top 0
    left 0
    height 22px
    width 22px
    border solid 2px #EBFDEC
    background-color transparent
    border-radius 4px
    &::after
      content ""
      position absolute
      display none
      left 6px
      top 1px
      width 5px
      height 10px
      border solid $primary-color
      border-width 0 2px 2px 0
      -webkit-transform rotate(45deg)
      -ms-transform rotate(45deg)
      transform rotate(45deg)
  input[type="checkbox"]
    position absolute
    opacity 0
    cursor pointer
    &:checked ~ .check
      border-color $primary-color
      background-color #FFF
      &:after
        display block
  &:hover input ~ .check
    background-color #FFF

.help-text
  display block
  position relative
  margin 0 0 10px ($input-height/2)
  font-size $font-size-base * 0.875
  for name, state in $states
    &.-is-{name}
      color state

.form
  .label
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

.form-title
  padding: 20px 5%

.form-group
  display flex
  flex-direction column
  margin 10px 0
  &.-center
    align-items center

.form-error.help-text
  padding-top 10px
  padding-bottom 10px
