.media-block
  display grid
  grid-template-columns auto 1fr
  grid-column-gap 4%
  grid-row-gap ($vertical-space/2)
  grid-template-areas "media body"
  align-items center

  .media
    grid-area media
    max-width 200px

    &.fake
      min-height: 125px

      &.-small
        width 120px
      &.-large
        width 200px

    img
      object-fit contain
      &.-small
        width 120px
      &.-large
        width 200px

  .body
    grid-area body
    max-width 400px

    &.fake
      min-height: 100px

    .content
      margin 0

    .meta
      display flex
      margin-top: 10px
      .-has-icon
        display flex
        align-items center
        i
          margin-right 5px
