.media-block
  display grid
  grid-column-gap 4%
  grid-row-gap ($vertical-space/4)
  align-items center
  grid-template-columns 1fr
  grid-template-areas "media"\
                      "body"
  +tablet-up()
    grid-template-columns auto 1fr
    grid-template-areas "media body"
    grid-row-gap ($vertical-space/2)

  .media
    grid-area media
    display flex
    justify-content center
    align-items center

    &.fake
      min-height: 125px

      &.-small
        width 120px
      &.-large
        width 200px

    img
      object-fit contain
      max-width 100px
      +tablet-up()
        max-width 200px
      +tablet-up()
        &.-small
          width 120px
        &.-large
          width 200px

    &.-video
      position relative
      &:before
        content ''
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        background rgba(0,0,0,0.4)
        transition background 0.3s ease
      &:after
        content ''
        position absolute
        left 50%
        top 50%
        width 0px
        height 0px
        border-top 12px solid transparent
        border-bottom 12px solid transparent
        border-left 20px solid #fff
        transform translate(-50%, -50%)
        filter drop-shadow(0 2px 3px #000)
        transition all 0.3s
      &:hover
        &:before
          background rgba(0,0,0,0)
        &:after
          transform scale(1.1) translate(-50%, -50%)
          filter drop-shadow(0 2px 3px #000)



  .body
    grid-area body
    max-width 400px
    text-align center
    +tablet-up()
      text-align left
      .title
        font-size 27px

    &.fake
      min-height: 100px

    .content
      margin 0

    .meta
      display flex
      justify-content center
      margin-top: 10px
      font-weight 200
      +tablet-up()
        justify-content flex-start
      .-has-icon
        display flex
        align-items center
        i
          margin-right 5px

.grid .media-block .body
  text-align center
