.v--modal
  .form
    background-color: $secondary-color
    color: #fff

    & > div
      padding 0 4%
  
  .modal-title
    padding: 20px 4% 40px 4%
    background-color: #0a2b4e
    color: #fff
    margin-bottom: 0

  .form-footer
    background-color: #fff
    margin-top: 30px