.v--modal
  border-radius 10px!important
  .form-title
    background-color: $secondary-color
    color #fff
    margin-bottom 20px
  .form
    color: $black
    & > div
      padding-left 5%
      padding-right 5%

  .form-footer
    background-color: #ececec
    margin-top: 30px
