.paginate
  display flex

  .next,
  .prev
    height 118px
    width 50%
    padding 0 2em
    border none
    color #fff
    font-size 32px
    font-weight 600
    cursor pointer

  .next
    background linear-gradient(to right, #41B782 , #86D169)
    text-align left

  .prev
    background linear-gradient(to right, #122549, #203762)
    text-align right
