.paginate
  display flex

.next,
.prev
  height 118px
  width 50%
  border none

.next
  background linear-gradient(to right, #41B782 , #86D169)

.prev
  background linear-gradient(to right, #122549, #203762)
