h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6
  font-family $font-family-base
  font-weight  700
  margin-top 0
  margin-bottom 0.3em
h1,.h1
  font-size 56px
h2,.h2
  font-size 40.5px
h3,.h3
  font-size 27px
h4,.h4
  font-size 18px
h5,.h5
  font-size 12px
p
  line-height: 1.5
