
$font-family-base = 'Source Sans Pro', sans-serif
$font-size-base = 18px

// Forms

$border-size = 2px
$form-radius = 30px

// Colors
$primary-color = #39B982
$secondary-color = #0A2B4E
$black = #222
$gray = #555

$states = {
  info: #A8D7DD
  success: green
  warning: yellow
  error: red
}

// Spacing
$vertical-space = 90px
$header-height = 100px

// Media Queries
mobile-only()
  @media screen and (max-width: 39.9375em)
    {block}
tablet-up()
  @media screen and (min-width: 40em)
    {block}
laptop-up()
  @media screen and (min-width: 64em)
    {block}
desktop-up()
  @media screen and (min-width: 82em)
    {block}
// Reconsider; doesn't work well.
desktop-only()
  @media screen and (min-width: 64em) and (max-width: 74.9375em)
    {block}
