// General Styles
@import _variables
@import _typography

// Elements
@import _buttons
@import _cards

*
  box-sizing: border-box

body
  font-family $font-family-base
  font-size $font-size-base

a
  text-decoration none
  color $black
  &:visited
    $black

ul
  list-style-type none
  padding 0
  margin 0

[v-cloak] > *
  display none

[v-cloak]::before
  content: "loading…"

// Remove this later
.container
  display: grid
  width: 100%

.banner
  display grid
  grid-column-gap: 2%
  grid-row-gap: ($vertical-space/2)
  width: 100%
  padding: 0 4%
  background-size: cover
  background-position: center center
