// General Styles
@import _variables
@import _typography

// Elements
@import _buttons
@import _forms
@import _callout
@import _cards
@import _media-block
@import _modals
@import _paginate
@import _empty
@import _transitions
@import _images

*
  box-sizing: border-box

a
  text-decoration none
  color $black
  &:visited
    $black
  &.-inverted
    color #fff

ul
  list-style-type none
  padding 0
  margin 0

.text-center
  text-align center

code
  font-size 18px
  background #F7F9FA
  border solid 1px #E6E8EB
  padding 0 4px 2px 4px
pre
  background #F7F9FA
  padding 10px
  border solid 1px #E6E8EB
  border-radius 6px
  white-space pre-wrap
pre > code
  background transparent
  border none

ul
  padding 10px 20px
  margin 0 0 0 20px
  list-style-type disc

.list-unstyled
  padding 0
  margin 0
  list-style-type none


.visually-hidden
  border 0
  clip rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

[v-cloak] > *
  display none

[v-cloak]::before
  content: "loading…"

.truncate
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-line-clamp: 1
  -webkit-box-orient: vertical

.banner
  // display grid
  // padding-left 4%
  // padding-right 4%
  background-size: cover
  background-position: center center
  background-repeat no-repeat

.section
  padding ($vertical-space/2) 4%

.fake
  background-color: rgba(220, 220, 220, .2)
  width: 100%

  &.lesson-header
    height 116px

  $.lesson-aside
    min-height: 400px
    margin: 0

  .player
    min-width: 100% !important
    max-width: 100%

.wrapper
  display grid
  width 100%
  padding 0 4%
  +laptop-up()
    margin 0 auto
    max-width 1400px

.-flash
  border-radius 6px
  background #faf7a1
  box-shadow 0 0 6px 6px #faf7a1
  animation: flashfade linear 1s
  animation-iteration-count: 1

@keyframes flashfade
	0%
    background: rgba(#faf7a1, 1)
    box-shadow 0 0 6px 6px rgba(#faf7a1, 1)
  60%
    background: rgba(#faf7a1, 1)
    box-shadow 0 0 6px 6px rgba(#faf7a1, 1)
	100%
    background: rgba(#faf7a1, 0)
    box-shadow 0 0 6px 6px rgba(#faf7a1, 0)
