body
  font-family 'Source Sans Pro', sans-serif

[v-cloak] > *
  display none

[v-cloak]::before
  content: "loading…"


// Remove this later
.container
  width: 100%
  max-width: 1400px
  padding 0 20px
